.row {
  margin-right: 0px;
    margin-left: 0px;
}

.col-md {
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .col-md a {
    margin: 0 60px;
  }

  .col-md:first-child {
    margin: 5px;
    border-right: 1px solid dodgerblue;
  }

  .col-md:first-child a {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  .col-md a {
    width: 100%;
    margin: auto;
  }
}

.menu-container {
  border-bottom: 1px solid dodgerblue;
  margin-bottom: 20px;
}

.menu-link {
  font-size: 20px;
  color: dodgerblue;
}