<h2>1. Kies type stromend water</h2>
<div class="type-selector">
    <span>Type: </span>
    <select class="custom-select" (change)="changeType($event)">
        <option *ngFor="let c of types.flowingTypes">{{c.name}}</option>
    </select>
</div>
<hr>
<div class="row">
    <div class="col-lg-6">
        <h2>2. Invoerwaardes invullen</h2>
        <div class="input-container">
            <div *ngFor="let i of selectedCalculation.inputs" class="row">
                <div class="col-xl">
                    <label for="{{i.name}}">{{i.name}}:</label>
                    <ng-template #popContentInput>{{ i.description }}</ng-template>
                    <span *ngIf="i.description != ''" class="custom-popover" [ngbPopover]="popContentInput">
                        <i class="bi bi-info-circle"></i>
                    </span>
                </div>
                <div class="col-xl">
                    <input id="{{i.name}}" [(ngModel)]="i.input" type="{{i.type}}"/>
                    <label for="{{i.name}}">{{i.unit}}</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="calculate()">Berekenen</button>
    </div>
    <div class="col-lg-6">
        <h3 class="simulation-header">Visualisatie</h3>
        <p>In de afbeelding hieronder komt na het berekenen de afstand en tijd van de warmtewolk/koudewolk te zien. Ook zie je de temperatuursverschillen binnen in de wolk. De TSA is de afkorting voor een warmtewisselaar.</p>
        <div class="simulation">
            <img class="simulation-img" src="assets/river.png"/>
            <p class="moveable1" *ngIf="selectedCalculation.mixingZoneResult.temps[0]">{{ selectedCalculation.mixingZoneResult.temps[0] | number: '.1-2' }}°C</p>
            <p class="moveable2" *ngIf="selectedCalculation.mixingZoneResult.temps[1]">{{ selectedCalculation.mixingZoneResult.temps[1] | number: '.1-2' }}°C</p>
            <p class="moveable3" *ngIf="selectedCalculation.mixingZoneResult.temps[2]">{{ selectedCalculation.mixingZoneResult.temps[2] | number: '.1-2' }}°C</p>
            <p class="moveable4" *ngIf="selectedCalculation.mixingZoneResult.temps[3]">{{ selectedCalculation.mixingZoneResult.temps[3] | number: '.1-2' }}°C</p>
            <p class="moveable5" *ngIf="selectedCalculation.mixingZoneResult.length != 0">{{ selectedCalculation.mixingZoneResult.length | number: '.1-2' }}m</p>
            <p class="moveable6" *ngIf="selectedCalculation.mixingZoneResult.time != 0">{{ selectedCalculation.mixingZoneResult.time | number: '.1-2' }}s</p>
        </div>
        <ng-container *ngFor="let result of selectedCalculation.results">
            <ng-template #popContentResult>{{ result.description }}</ng-template>
            <p *ngIf="result.value != 0">
                <b>{{ result.name }}:</b>
                {{ result.value | number: '.1-2' }}{{ result.unit }}
                <span *ngIf="result.description != ''" class="custom-popover" [ngbPopover]="popContentResult">
                    <i class="bi bi-info-circle"></i>
                </span>
            </p>
        </ng-container>
        <div *ngFor="let e of selectedCalculation.errors" class="alert alert-warning" role="alert">
            {{ e }}
        </div>
    </div>
    <app-flowing-water-info id="flowing-water-view" [calculation]="selectedCalculation"></app-flowing-water-info>
</div>
