.simulation {
    min-width: 498px;
    position: relative;
}
#flowing-water-view {
  width: 100%;
}

.simulation-header {
    margin-top: 40px;
}

.simulation-img {
    width: 100%;
    margin-bottom: 20px;
}

.input-container, .type-selector {
    margin-left: 10px;
    margin-bottom: 20px;
}

input {
    margin: 0px 10px;
}

.custom-select {
    width: 250px;
}

.custom-popover {
    margin-left: 5px;
    cursor: pointer;
}

.moveable1 {
    position: absolute;
    left: 60.5%;
    top: 44%;
    font-size: 14px;
}

.moveable2 {
    position: absolute;
    left: 48%;
    top: 43%;
    font-size: 14px;
}

.moveable3 {
    position: absolute;
    left: 34%;
    top: 43%;
    font-size: 14px;
}

.moveable4 {
    position: absolute;
    left: 19%;
    top: 43%;
    font-size: 14px;
}

.moveable5 {
    position: absolute;
    left: 38%;
    top: 29%;
    font-size: 14px;
}

.moveable6 {
    position: absolute;
    left: 38%;
    top: 23%;
    font-size: 14px;
}

@media (max-width: 576px) {
    .moveable1 {
        font-size: 12px;
    }
}

@media (min-width: 576px) {
    .moveable1 {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .moveable1 {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    .moveable1 {
        font-size: 12px;
    }
}
