<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <h1>TEO effecten simulatie</h1>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLinkActive="is-active" [routerLink]="['/stromend-water']">Stromend water</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="is-active" [routerLink]="['/stilstaand-water']">Stilstaand water</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
