nav {
    background-color: dodgerblue;
}

.navbar-nav {
    margin-left: 50px;
    margin-top: -15px;
}

h1 {
    float: left;
    padding-left: 20px;
    margin-top: 5px;
    color: greenyellow;
    font-size: 24px;
}

a {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    font-size: 24px;
    color: white;
}