<div class="table-responsive" id="sailorTableArea">
  <table class="sailorTable table table-striped table-bordered table-hover" width="100%">
        <thead>
          <tr>
              <th>Temperatuur <span class="h4">10°C</span></th>
          </tr>
      </thead>
      <thead>
          <tr>
              <th>Iets</th>
              <th>Toename</th>
              <th>Afname</th>
          </tr>
      </thead>
      <tbody>
          <tr>
            <td>Vis A</td>
            <td>10%</td>
            <td>_</td>
          </tr>
      </tbody>
  </table>
  <table class="sailorTable table table-striped table-bordered table-hover" width="100%">
    <thead>
      <tr>
          <th>Inlaatsnelheid <span class="h4">0 m3/s</span></th>
      </tr>
  </thead>
  <thead>
      <tr>
          <th>Iets</th>
          <th>Toename</th>
          <th>Afname</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>Vis B</td>
        <td>_</td>
        <td>30%</td>
      </tr>
  </tbody>
</table>
  </div>
