<div class="table-responsive" id="TableArea">
  <table class="ecologyTable table table-striped table-bordered table-hover" id="temperatureTable" width="100%">
        <thead>
          <tr>
              <th>Temperatuur <span class="h4">{{this.tempCelsius.toFixed(0)}}°C</span></th>
          </tr>
      </thead>
      <thead>
          <tr>
              <th>Organismen</th>
              <th>Paai temperatuur</th>
              <th>Toename</th>
              <th>Afname</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let o of temperatureTableList">
            <td>{{o[0]}}</td>
            <td>{{o[1]}}</td>
            <td>{{o[2]}}</td>
            <td>{{o[3]}}</td>
          </tr>
      </tbody>
  </table>
  <table class="ecologyTable table table-striped table-bordered table-hover" id="flowingWaterTable" width="100%">
    <thead>
      <tr>
          <th>Inlaatsnelheid <span class="h4">{{this.flowRateNumber.toFixed(2)}} m3/s</span></th>
      </tr>
  </thead>
  <thead>
      <tr>
          <th>Organismen</th>
          <th>Toename</th>
          <th>Afname</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of flowingRateTableList">
      <td>{{o[0]}}</td>
      <td>{{o[1]}}</td>
      <td>{{o[2]}}</td>
    </tr>
  </tbody>
</table>

<table class="ecologyTable table table-striped table-bordered table-hover" id="mixingZoneTable" width="100%">
  <thead>
    <tr>
        <th>Mengzone</th>
    </tr>
</thead>
<thead>
    <tr>
        <th>Warmwaterwolk</th>
        <th>10m-20m</th>
        <th>20m-30m</th>
        <th>30m-40m</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td>Vis A</td>
      <td class="bg-success"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Plangton B</td>
      <td></td>
      <td class="bg-warning"></td>
      <td></td>
    </tr>
    <tr>
      <td>Vis C</td>
      <td></td>
      <td></td>
      <td class="bg-danger"></td>
    </tr>
</tbody>
</table>
  </div>
