
<div [ngSwitch]="option">
  <ng-container *ngSwitchCase="'R-6 koudelozing'">
    <h2>Ecologische effecten</h2>
    <app-temperature-effect-table [calculation]="calculation"></app-temperature-effect-table>
    <app-discharge-temperature-effect-table [calculation]="calculation"></app-discharge-temperature-effect-table>
    <app-flow-effect-table [calculation]="calculation"></app-flow-effect-table>
    <app-cold-water-effect-info></app-cold-water-effect-info>
  </ng-container>
  <ng-container *ngSwitchCase="'R-7'">
    <app-warm-water-effect-info></app-warm-water-effect-info>
  </ng-container>
</div>
