/* You can add global styles to this file, and also import other style files */

.is-active {
    text-decoration: underline;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@media (min-width: 1400px) {
    .container {
        max-width: 1300px ;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1600px ;
    }
}

@media (min-width: 2000px) {
    .container {
        max-width: 1900px ;
    }
}