<table class="ecologyTable table table-striped table-bordered table-hover col-lg-6" id="temperatureTable" width="100%">
  <thead>
    <tr>
        <th>Temperatuur lozingspunt <span class="h4">{{this.dischargePoint.toFixed(2)}}°C</span></th>
    </tr>
</thead>
<thead>
    <tr>
        <th>Organismen</th>
        <th>Paai temperatuur</th>
        <th>Afname</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let o of dischargePointTableList">
      <td>{{o[0]}}</td>
      <td>{{o[1]}}</td>
      <td>{{o[2]}}</td>
    </tr>
</tbody>
</table>
